@page
@model BetterFinds.Pages.AccountModel
@{
    ViewData["Title"] = "My Account";
}

<div class="main-wrapper">
    <div class="text-center">
        <h3>My Account</h3>
    </div>
    <br />
    <div>
        <p>Username: @ViewData["Username"]</p>
        <p>Full Name: @ViewData["FullName"]</p>
        <p>Email: @ViewData["Email"]</p>
        <p>Subscribed to our newsletter: @ViewData["OptNewsletter"]</p>
        <p>Number of auctions created: TODO</p>
        <p>Number of bids: TODO</p>
    </div>
</div>
