@page
@model BetterFinds.Pages.CreateModel
@{
    ViewData["Title"] = "Create Auction";
}

<div class="main-wrapper">
    <form method="post">
        <div class="text-center">
            <h3>Create an auction</h3>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        @if (ViewData["Success"] != null)
        {
            <div class="text-success">
                <p>@ViewData["Success"]<a style="margin-left: 0px" href="/auction?id=@ViewData["AuctionId"]">@ViewData["AuctionTitle"]</a></p>
            </div>
        }

        <style>
            a {
                margin-left: 20px;
            }
        </style>

        <div class="input-box">
            <a>Title:</a>
            <input type="text" asp-for="Title" placeholder="Title" required>
        </div>

        <div class="input-box">
            <a>Initial price:</a>
            <input type="number" asp-for="Price" placeholder="Initial price" value="" oninput="this.value = Math.max(0, this.value);" required>
        </div>

        <div class="input-box-text-area">
            <a>Description:</a>
            <textarea asp-for="Description" placeholder="Description" required></textarea>
        </div>

        <div class="input-box">
            <a>Minimum bid increment:</a>
            <input type="number" asp-for="MinimumBid" placeholder="Minimum bid increment" value="" oninput="this.value = Math.max(0, this.value);" required>
        </div>

        <div class="input-box">
            <a>Ending date:</a>
            <input type="datetime-local" asp-for="EndTime" placeholder="Ending date" required>
        </div>

        <button type="submit" class="btn">Create</button>
    </form>
</div>
