@page
@model BetterFinds.Pages.CreateModel
@{
    ViewData["Title"] = "Create Auction";
}

<div class="main-wrapper">
    <form method="post">
        <div class="text-center">
            <h3>Create an auction</h3>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        @if (ViewData["Success"] != null)
        {
            <div class="text-info">
                <p>@ViewData["Success"]<a style="margin-left: 0px" href="/auction?id=@ViewData["AuctionId"]">@ViewData["AuctionTitle"]</a></p>
            </div>
        }

        <style>
            p {
                margin-left: 20px;
            }
        </style>

        <div class="input-box">
            <p>Title:</p>
            <input type="text" asp-for="Title" placeholder="Title" required>
        </div>

        <div class="input-box-text-area">
            <p>Description:</p>
            <textarea asp-for="Description" placeholder="Description" required></textarea>
        </div>

        <div class="input-box" style="margin-top: 10px">
            <p>Initial price:</p>
            <input type="number" asp-for="Price" placeholder="Initial price" value="" oninput="this.value = Math.max(0, this.value);" required>
        </div>

        <div class="input-box">
            <p>Minimum bid increment:</p>
            <input type="number" asp-for="MinimumBid" placeholder="Minimum bid increment" value="" oninput="this.value = Math.max(0, this.value);" required>
        </div>

        <div class="input-box">
            <p>Ending date:</p>
            <input type="datetime-local" asp-for="EndTime" placeholder="Ending date" required>
        </div>

        <div class="input-box">
            <p>Images links (maximum 10):</p>
            <input type="text" asp-for="Images" placeholder="image_link_1,image_link_2,...,image_link_10" value="">
        </div>

        <br>
        <button type="submit" class="btn">Create</button>
    </form>
</div>
