@page
@model BetterFinds.Pages.CreateModel
@{
    ViewData["Title"] = "Create Auction";
}

<div class="main-wrapper">
    <form method="post">
        <div class="text-center">
            <h3>Create an auction</h3>
        </div>

        <!-- <div asp-validation-summary="All" class="text-danger"></div> -->

        <style>
            a {
                margin-left: 20px;
            }
        </style>

        <div class="input-box">
            <a>Title:</a>
            <input type="text" asp-for="Title" placeholder="Title" required>
        </div>

        <div class="input-box">
            <a>Description:</a>
            <input type="text" asp-for="Descrition" placeholder="Description" required>
        </div>

        <div class="input-box">
            <a>Initial price:</a>
            <input type="number" asp-for="Price" placeholder="Initial price" value="" required>
        </div>

        <div class="input-box">
            <a>Minimum bid increment:</a>
            <input type="number" asp-for="MinimumBid" placeholder="Minimum bid increment" value="" required>
        </div>

        <div class="input-box">
            <a>Ending date:</a>
            <input type="datetime-local" asp-for="Date" placeholder="Ending date" required>
        </div>

        <br>
        <button type="submit" class="btn">Create</button>
    </form>
</div>
