@page
@model BetterFinds.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="wrapper">
    <form method="post">
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="BetterFinds" /></a>
        </div>
        <br />
        <h1>Login</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (ViewData["Message"] != null)
        {
            <div class="text-info">
                @ViewData["Message"]
            </div>
        }
        <div class="input-box">
            <input type="text" asp-for="Username" placeholder="Username" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" asp-for="Password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="remember-me">
            <label><input type="checkbox" asp-for="RememberMe"> Remember me</label>
        </div>
        <br />
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
            <p>
                Don't have an account? <a href="/register">Register</a>
            </p>
        </div>
    </form>
</div>
