@page
@model BetterFinds.Pages.MyAuctionsModel
@{
    ViewData["Title"] = "My Auctions";
}

<div class="main-wrapper">
    @if (Model.MyAuctions != null && Model.MyAuctions.Count > 0)
    {
        <div>
            <h2 style="padding-bottom: 10px">My Auctions</h2>
            <div class="sort-container">
                <label for="sort">Sort By: </label>
                <select id="sort">
                    <option value="date">Ending Time</option>
                    <option value="name">Product Name</option>
                    <option value="price">Product Price</option>
                </select>
            </div>
            <ul>
                @foreach (var auction in Model.MyAuctions)
                {
                    var auctionDict = auction as Dictionary<string, object>;
                    if (auctionDict != null)
                    {
                        <li>
                            <p>
                                <a href="/auction?id=@auctionDict["AuctionId"]">@auctionDict["ProductName"]</a>
                                - @($"{auctionDict["ProductPrice"]:0.00}€")
                                - @auctionDict["EndTime"]
                            </p>
                        </li>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <div>
            <h2>You have no auctions</h2>
            <br />
            <p>Go to the <a href="/create">Create Auction</a> page to create one.</p>
        </div>
    }
</div>
