@page
@model BetterFinds.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="form-box">
    <div class="register-container" id="register">
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="BetterFinds" /></a>
        </div>
        <div class="login-link">
            <p>
                Have an account? <a href="/login">Login</a>
            </p>
            <h1>Register</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (ViewData["RegisterMessage"] != null)
        {
            <div class="text-info">
                @ViewData["RegisterMessage"] You can now <a href="/login">login</a>.
            </div>
        }
        <form method="post">
            <div>
                <div class="input-box">
                    <input type="text" asp-for="FullName" class="input-field" placeholder="Full Name" required>
                    <i class="bx bxs-face"></i>
                </div>
                <div class="input-box">
                    <input type="text" asp-for="Username" class="input-field" placeholder="Username" required>
                    <i class="bx bxs-user"></i>
                </div>
                <div class="input-box">
                    <input type="email" asp-for="Email" class="input-field" placeholder="Email" required>
                    <i class="bx bxs-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" asp-for="Password" class="input-field" placeholder="Password" required>
                    <i class="bx bxs-lock"></i>
                </div>
                <div class="input-box">
                    <input type="password" asp-for="ConfirmPassword" class="input-field" placeholder="Confirm Password" required>
                    <i class="bx bxs-lock"></i>
                </div>
                <div class="input-box">
                    <input type="text" asp-for="ProfilePic" class="input-field" placeholder="Profile Picture link (optional)">
                    <i class="bx bxs-face"></i>
                </div>

                <div class="two-col">
                    <div class="one">
                        <span>Do you want to receive our newsletter?</span>
                        <input type="checkbox" asp-for="OptNewsletter" class="checkbox">
                    </div>
                    <button type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>