@{
    // Get the page name from PageContext
    var pageName = Context.GetRouteValue("page");
    // Don't load header in /Login and /Register pages
    bool LoadAll = (pageName != null) ? !(pageName.ToString() == "/Login" || pageName.ToString() == "/Register") : true;

    // biddersGroup is a list of client IDs that are allowed to receive notifications only used in auction page
    List<int>? biddersGroup = ViewData["BiddersGroup"] as List<int>;

    // Get the user's notifications
    IConfiguration configuration = new ConfigurationBuilder()
        .SetBasePath(Directory.GetCurrentDirectory()) // Set the base path as needed
        .AddJsonFile("appsettings.json", optional: true, reloadOnChange: true) // Adjust the file name and path
        .Build();

    // Simulate getting HttpContext (replace with actual HttpContext if possible)
    HttpContext httpContext = Context.Request.HttpContext;
    var clientUtils = new Utils.Client(configuration);
    int clientId = clientUtils.GetClientId(httpContext, User);

    // Simulate getting notifications count
    var notificationUtils = new Utils.Notification(configuration);
    int notificationCount = notificationUtils.GetNotificationsCount(clientId);

    // Get current ClientId
    int currentClientId = clientUtils.GetClientId(httpContext, User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatiable" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | BetterFinds</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="512x512" href="/img/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-chrome-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">

    <!-- Style css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@@2.1.4/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- SignalR -->
    <script src="/lib/signalr/dist/browser/signalr.js"></script>
</head>
<body>
    @if (LoadAll) {
        <nav>
            <a class="banner-logo" href="/">
                <img src="/img/logo.png" alt="BetterFinds" style="width: 70px" />
            </a>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><strong>X</strong></a></li>
                <li><a href="/">Home</a></li>
                @if (User.Identity != null && User.Identity.IsAuthenticated) {
                    <li><a href="/MyAccount">My Account</a></li>
                    <li><a href="/MyBids">My Bids</a></li>
                    <li><a href="/MyAuctions">My Auctions</a></li>
                    <li><a href="/create">Create Auction</a></li>
                    <li><a href="/logout">Logout</a></li>
                }
                else {
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                }
            </ul>
            <ul>
                <div class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 50 50" style="fill:#FFFFFF;"><path d="M 21 4 C 11.082241 4 3 12.082241 3 22 C 3 31.917759 11.082241 40 21 40 C 24.62177 40 27.99231 38.91393 30.820312 37.0625 L 43.378906 49.621094 L 47.621094 45.378906 L 35.224609 32.982422 C 37.581469 29.938384 39 26.13473 39 22 C 39 12.082241 30.917759 4 21 4 z M 21 8 C 28.756241 8 35 14.243759 35 22 C 35 29.756241 28.756241 36 21 36 C 13.243759 36 7 29.756241 7 22 C 7 14.243759 13.243759 8 21 8 z"></path></svg>
                    <input class="search-input" type="search" placeholder="What are you looking for?" id="searchBar">
                </div>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <button type="button" class="icon-button" id="notificationsButton">
                        <span class="material-icons">notifications</span>
                        <span id="notificationCount" class="icon-button__badge">@notificationCount</span>
                    </button>
                }
                <li onclick=showSidebar()><a href="#"><img style="width: 25px" alt="<" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAQ0lEQVR4nO3WoREAIAwEQfovKyksSAQimrDbwc2bXwsAOKoq6z05JSSuEAAAaD36fnNKSPQTAQDAkPebU0LiCgGAn21ViEka78Lu0AAAAABJRU5ErkJggg==" /></a></li>
            </ul>
        </nav>

        <!-- SignalR -->
        <script src="/js/signalr/init.js"></script>
        <script src="/js/signalr/auction.js"></script>
        <script>
            // Update the notification count in the UI
            connection.on("ReceiveNotificationCount", (newCount, clientId) => {
                if (clientId == @currentClientId) {
                    document.getElementById("notificationCount").innerText = newCount;
                }
            });
        </script>
    }
    else {
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                width: 100%;
            }
        </style>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (LoadAll){
        <footer class="footer">
            <div>   
                &copy;@DateTime.UtcNow.Year.ToString() | BetterFinds
            </div>
        </footer>
    }

    <!-- js -->
    <script src="/js/sidebar.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/notifications.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>