@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    */
    min-height: 100vh;
    background: url(/img/background.jpg) repeat;
    background-color: rgb(2, 66, 66);
}

body a {
    text-decoration: underline;
    color: rgb(233, 175, 30);
    font-weight: 600;
}

body a:hover {
    text-decoration: underline;
    background: rgb(223, 199, 64);
    background: linear-gradient(to right, rgb(233, 175, 30), gold);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

footer {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

header {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    /* Flex container properties for horizontal alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Background properties */
    background: black;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.main-wrapper {
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.7);
    padding: 25px 30px;
    margin: 20px auto;
}

/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media only screen and (max-width: 767px) {
    .main-wrapper {
        width: 95%; /* increase width in small screens */
        /* background: rgb(2, 66, 66); /* Solid color fallback option */
        /* background: rgba(2, 66, 66, 0.9); /* Transparent color */
        /* backdrop-filter: none; /* Remove backdrop filter for solid color */
        box-shadow: 0 15px 50px rgb(20, 20, 20); /* fallback option */
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
    padding: 25px 30px;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        /* background: rgb(2, 66, 66); /* Solid color */
        /* background: rgba(2, 66, 66, 0.9); /* Transparent color */
        /* backdrop-filter: none; /* Remove backdrop filter for solid color */
        box-shadow: 0 15px 50px rgb(20, 20, 20); /* fallback option */
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
    }
}

.wrapper h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.main-wrapper .input-box,
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrappper .remember-me {
    display: flex;
    align-items: center;
    font-size: 14.5px;
}

.main-wrapper .btn,
.wrapper .btn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-image: linear-gradient(to right, rgb(48, 102, 55), #967b46);
    background-size: 200%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: .5s;
}

    .main-wrapper .btn:hover,
    .wrapper .btn:hover {
        background-position: right;
    }

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.form-box {
    width: 380px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    padding: 25px 30px;
}

@media only screen and (max-width: 767px) {
    .form-box {
        background: rgb(2, 66, 66);
        backdrop-filter: none;
        box-shadow: none;
    }
}

.form-box h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 10px 20px 10px 20px;
}

    .input-box input::placeholder {
        color: white;
    }

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box-text-area textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    resize: vertical;
    overflow: hidden;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

    .register-link p a:hover {
        text-decoration: underline;
    }

.two-col {
    display: flex;
    justify-content: space-between;
}

.form-box .btn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-image: linear-gradient(to right, rgb(48, 102, 55), rgb(156, 127, 68));
    background-size: 200%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: .5s;
}

    .form-box .btn:hover {
        background-position: right;
    }

.form-box .login-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

    .login-link p a:hover {
        text-decoration: underline;
    }

.text-danger {
    color: #dc3545 !important;
    /* horizontal align */
    text-align: center;
}

    .text-danger li {
        /* no list style */
        list-style: none;
    }

.text-info {
    font-weight: bold;
    color: #fcfcad;
    text-align: center;
}

.text-center {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 66, 66);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

    nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li {
        height: 50px;
    }

    nav a {
        height: 100%;
        font-weight: 400;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
    }

    nav li:first-child {
        margin-right: auto;
    }

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(100, 100, 100, .2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
    .sidebar {
        background-color: rgb(2, 40, 40);
        backdrop-filter: none;
        box-shadow: none;
    }
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

    .sidebar a:hover {
        background-color: rgba(1, 29, 29, 0.842);
    }

.search {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-input {
    font-size: 15px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    outline: none;
    padding: 10px;
    border: none;
    background: transparent;
}

    .search-input::placeholder {
        color: white;
    }

.logo img {
    display: block; /* Ensures that the image is treated as a block element */
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.banner-logo {
    display: block;
    margin-left: 25px;
    padding: 0 0; /* override nav a padding rule */
}

@media only screen and (max-width: 767px) {
    .banner-logo {
        display: block;
        margin-left: 10px;
        padding: 0 0; /* override nav a padding rule */
    }
}

.product-images img {
    display: block; /* Ensures that the image is treated as a block element */
    width: 100%;
    /* round corners */
    border-radius: 20px;
    /* shadow */
    box-shadow: 10px 15px 50px rgba(0, 0, 0, .7);
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: rgb(2, 66, 66);
    background: #eeeeee;
    border: none;
    outline: none;
    border-radius: 50%;
}

    .icon-button:hover {
        cursor: pointer;
        background: #dddddd;
    }

    .icon-button:active {
        background: #cccccc;
    }

.icon-button__badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
 }

    .sort-container select {
        width: 200px;
        text-align: center;
        color: white;
        background-color: rgb(2, 66, 66);
        background-color: rgba(2, 66, 66, 0.4);
    }

label {
    margin-left: auto;
    margin-right: 10px;
}

select {
    padding: 3px;    
    font-size: 12px; 
    width: 120px;
    border-radius: 40px;
}

.notification {
    display: grid;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 0;
}

    .notification a {
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }

    .notification span {
        margin-left: auto;
        margin-right: auto;
    }

.notification-unread {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(2, 88, 88);
    background-color: rgba(2, 88, 88, 0.3);
    /* round corners */
    border-radius: 20px;
}
