@page
@{
    ViewData["Title"] = "Not Found";
}

<div class="main-wrapper">
    <h2 style="padding-bottom: 10px">Not Found 404</h2>
    <div class="text-danger" style="text-align: left">
        <strong><span>The page you are looking for does not exist.</span></strong>
    </div>
    <p style="padding-top: 10px">
        Oops! It seems like the BetterFinds admins took a coffee break and left us hanging.
    </p>
    <p>
        We're on standby, practicing our best auctioneer chant and polishing our virtual gavels.
    </p>
    <p>
        In the meantime, why not bid on patience? It's the one thing we definitely need right now!
    </p>
    <div class="text-info" style="text-align: left; padding-top: 10px">
        <span>Click here to return to the <a href="/">homepage</a></span>
    </div>
</div>